<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="">

  <title>Landin Page</title>
</head>

<body>
  <header>
    <div id="title">
      <h1>Personal Treiner</h1>
      <h1>Thomas Campos</h1>
    </div>

    <ul>
      <a href="#">
        <li>Inicio</li>
      </a>
      <a href="#">
        <li>Serviços</li>
      </a>
      <a href="#">
        <li>Sobre</li>
      </a>
      <a href="#">
        <li>Contato</li>
      </a>
    </ul>
  </header>

  <main>
    <section class="primeira">
      <h2><span>Mude de Estilo de vida agora!</span></h2>
      <p>Conte-nos um pouco mais sobre você uma breve apresentação e em seguida se tiver algum material na coluna a
        baixo deixar fotos do antes e depois de seus alunos mostrando assim seu</p>
    </section>
    <section class="segunda">
      <h3 class="serviços">Serviços</h3>

      <div class="wrapper">
       <div class="carousel">

        <i class="fa-regular fa-circle-arrow-right"></i>
         <img src="../images/woamanslin.jpg" alt="Emagrecimento">
         <img src="../images/ganhoMassa.jpg" alt="">
         <img src="../images/lazar.jpg" alt="">
         <img src="../images/yoga.jpeg" alt="">

        <!-- <div class="border">
        </div>
        <h3>Emagrecimento</h3>
        <p>Seja livre para poder se vestir como desejar!</p>

        <div class="border">
        </div>
        <h3>Ganho de Massa Muscular</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam maiores cupiditate repellendus? Quod delectus dignissimos sed voluptatum enim distinctio!</p>

        <div class="border">
        </div>
        <h3>Preparo de atletas</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam autem, deleniti commodi quidem minima ipsa modi rem, expedita tenetur fugiat dolores vero quas. Iusto, ullam! Assumenda eaque quam iste quisquam?</p>

        <div class="border">
        </div>
        <h3>Yoga</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, tempore quos. Tenetur, ratione quaerat! Iste veritatis facilis error praesentium iure exercitationem sapiente illum consequuntur? Enim aut natus magni tempore sint.</p> -->
       </div>
      </div>


    </section>

  </main>

  <div class="botao">
    <a href="https://wa.me/5537998651283?text=Olá, tudo bem? gostaria de uma landin page personalizada! ">
      <img src="../images/whatsapp.png" alt="Entre em contato conosco pelo whatsApp" width="70px">
    </a>

  </div>
</body>

</html>
